
<ion-content *ngIf="getProductsFromService">
  <h2>Les meilleurs produits de beauté, santé et bien-être</h2>
  <ion-list>
    <ion-item
      *isadmin="getRole"
      lines="none"
    >
    <app-button 
      class="add-product"
      [callback]="addProduct.bind(this)"
      text="Ajouter"
      slot="end"
    ></app-button>
    </ion-item>
    <div>
      <div *ngFor="let product of (getProductsFromService | filterProduct:getRefresh)">
        <app-product-card [productCard]="product" [displayIcon]="''"></app-product-card>
      </div>
    </div>
  </ion-list>
</ion-content>
