
ion-content {

  --padding-top: 50px;

  h2 {
    margin-left: 20px;
  }

  ion-list {

    width: 100%;

    > ion-item {

      width: 100%;

      app-button {

        width: 200px;
        margin: 0 20px;

      }

    }

    > div {

      margin:auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      > div {

        --padding-start: 0;
        padding: 8px;

      }

    }

  }

}

@media screen and (max-width: 991px) {

  ion-content {

    ion-list {

      > div {

        > div {

          ion-card {

            display: flex;
            flex-direction: row;
            margin: 0px;
            width: 100%;
            height: auto;

            ion-img {
              height: 120px;
            }

            ion-card-content {

              ion-card-title {
                text-align: left;
              }

              ion-card-subtitle {
                text-align: right;
                font-size: 1rem;
                font-weight: 550;
                padding: 5px 0;
              }

            }

          }

        }

      }

    }

  }

}

@media screen and (max-width: 600px) {

  ion-content {

    h2 {
      display: none;
    }

    ion-list {

      display: flex;
      flex-direction: column;
      align-items: center;

    }

  }

}
