
<div class="brand">
  <div class="image-setting">
    <div class="div-cropper">
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [output]="'blob'"
        [imageFile]="imageFile"
        [maintainAspectRatio]="true"
        [aspectRatio]="68 / 25"
        [resizeToWidth]="500"
        [cropperMinWidth]="34"
        [onlyScaleDown]="true"
        [transform]="transform"
        [roundCropper]="false"
        [alignImage]="'left'"
        [style.display]="showCropper ? null : 'none'"
        format="webp"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded($event)"
        (cropperReady)="cropperReady($event)"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </div>
    <div lines="none" class="image-buttons">
      <ion-icon 
        name="arrow-up-outline" 
        alt="Télécharger une image"
        title="Télécharger une image"
        (click)="fileInput.click()"
      ></ion-icon>
      <input type="file" #fileInput (change)="fileChangeEvent($event)" hidden/>
      <ion-icon 
        name="pencil-outline" 
        alt="Valider l'image"
        title="Valider l'image"
        (click)="replaceImage()"
      ></ion-icon>
      <ion-icon 
        name="add-circle-outline" 
        alt="Zoom avant"
        title="Zoom avant"
        (click)="zoomIn()"
      ></ion-icon>
      <ion-icon 
        name="remove-circle-outline" 
        alt="Zoom arrière"
        title="Zoom arrière"
        (click)="zoomOut()"
      ></ion-icon>
      <ion-icon 
        name="refresh-outline" 
        alt="Retour à l'image initiale"
        title="Retour à l'image initiale"
        (click)="reinitImage()"
      ></ion-icon>
      <ion-icon 
        name="close-outline" 
        alt="Abandon"
        title="Abandon"
        (click)="cancel()"
      ></ion-icon>
    </div>
  </div>
</div>

