@import '../../app.component.scss';

a {
  color: black;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ol, ul {
  margin: 0px;
  list-style: none;
  padding-left: 0;
}

footer {

  display: flex;
  justify-content: space-evenly;
  background-color:  $color3;
  padding: 0 10px;

  span {
    display: block;
    margin: 3px 0;
    font-size: 1.1em;
    font-style: italic;
    text-align: center;
    width: 100%;
  }

  .sommaire {

    display: none;

  }
  
  .langues img {
    width: 25px;
    margin: 2px;
  }
  
  .lang-selected {
    border: solid 2px white;
  }
  
  .list-inline {
    display: flex;

    .social-media {
      margin: 0px;
      padding: 0px 2px;
      justify-content: space-around;
      align-items: start ;

      img {
        width: 18px;
      }

    }  
    
  }

}

.footer_copyright {
  display: none;
}

@media screen and (min-width: 800px) {

  footer {

    .sommaire {

      display: flex;
      flex-direction: column;

      ol {
        display: flex;

        li {
          padding: 0 5px;
          font-size: 1rem;
        }

      }
  
    }

  }

  .footer_copyright {
    margin-top: 1px;
    padding-right: 10px;
    background-color: $color3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer_copyright_content {
    font-size: .875rem;
    padding: 6px 0;
  }

}
