<ion-content class="ion-padding">
  <article>
    <div class="article-picture">
      <img src="../../../assets/images/events/exterieur_pharma.jpg" alt="pharmacy ligths">
    </div>
    <div class="content">
      <p>{{ 'home-page.article1-p-1' | translate }}</p>
      <p>{{ 'home-page.article1-p-2' | translate }}</p>
    </div>
  </article>
  <article>
    <div class="events-picture">
      <img src="../../../assets/images/events/soldes_pharma.jpg" alt="event picture">
    </div>
    <div class="events">
      <div>
        <ul>
          <li>{{'home-page.events-li-1' | translate }}</li>
          <li>{{'home-page.events-li-2' | translate }}</li>
          <li>{{'home-page.events-li-3' | translate }}</li>
        </ul>
      </div>
    </div>
  </article>
  <article>
    <div class="article-picture article-picture-last">
      <img src="../../../assets/images/events/personnel_pharma.jpg" alt="the pharmacy team">
    </div>
    <div class="content">
      <p>{{'home-page.article3-p-1' | translate }}</p>
    </div>
  </article>
</ion-content>
