<ion-content>
  <ion-header> 
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="back()">< Retour</ion-button>
      </ion-buttons>
      <ion-title></ion-title>
      <ion-item lines="none" slot="end" (click)="showCart()">
        <ion-icon
          aria-hidden="true"
          [src]="'assets/icon/caddy.svg'"
        ></ion-icon>
        <ion-label>{{getCartTotalSize}}</ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <app-product-view-card></app-product-view-card>
</ion-content>
