<ion-card expand="block">
  <div *ngIf="imageEditing === productCard.getId" class="div-icon">
    <ion-icon name="refresh-outline"
      *isadmin="getRole"
      [ngClass]="isUpdated ? '' : 'cache'"
      slot="end"
      (click)="reinitProduct();$event.stopPropagation()"
    ></ion-icon>
    <ion-icon
      *isadmin="getRole"
      [ngClass]="isUpdated ? '' : 'cache'"
      slot="end"
      name="pencil-outline"
      (click)="saveProduct();$event.stopPropagation()"
    ></ion-icon>
    <ion-icon
      *isadmin="getRole"
      slot="end"
      name="trash-outline"
      (click)="deleteProduct();$event.stopPropagation()"
    ></ion-icon>
  </div>
  <img
    src="{{ imageToDisplay }}" alt="Selectionnez une image"
    (click)="editImage();$event.stopPropagation()"
  />
  <ion-card-title>{{productCard.getProductName}}</ion-card-title>
  <ion-card-subtitle class="price">{{productCard.getPrice | number: '1.2-2'}} €</ion-card-subtitle>
  <app-button 
    class="add-product"
    [callback]="addProductToCart.bind(this, productCard)"
    text="Ajouter"
  ></app-button>
</ion-card>
