
<ion-content>
  <ion-list>
    <ion-item
      *isadmin="getRole"
      lines="none"
    >
    <ion-button slot="end" (click)="addBrand()" disabled="{{ cardIdSelected !== -1 }}">Ajouter</ion-button>
    </ion-item>
    <div class="brands">
      <div [ngClass]="'masked'"></div>
      <div class="brand" *ngFor="let brand of getBrandsFromService | isUpdated:getRefreshUpdate">
        <app-brand-card
          [brandCard]="brand"
          [imageEditing]="cardIdSelected"
          (cardIdSelected)="onSelectCard($event)"
        ></app-brand-card>
      </div>
    </div>
  </ion-list>
</ion-content>
