<div [ngClass]="imageEditing === -1 || imageEditing === brandCard.getId ? 'unmasked' : ''">
  <ion-card *ngIf="brandCard">
    <img
      src="{{ imageToDisplay }}" alt="Selectionnez une image"
      (click)="imageUpdating = imageEditing === brandCard.getId ? !imageUpdating : false"
    />
    <ion-list class="{{imageEditing !== brandCard.getId ? '' : 'hover'}}">
      <ion-item lines="none">
        <ion-card-title class="ion-text-wrap">
          <input type="text"
            [(ngModel)]="name"
            [disabled]="getRole < 2 || imageEditing !== brandCard.getId"
            placeholder="Nom de la marque"
            (ngModelChange)="checkIsUpdated()"
          >
        </ion-card-title>
        <div class="div-icon">
          <ion-icon name="refresh-outline"
            *isadmin="getRole"
            [ngClass]="isUpdated ? '' : 'cache'"
            slot="end"
            alt="Réinitialiser"
            title="Réinitialiser"
            (click)="reinitBrand()"
          ></ion-icon>
          <ion-icon name="close-outline"
            *isadmin="getRole"
            [ngClass]="(imageEditing === brandCard.getId && imageEditing !== 0) ? '' : 'cache'"
            slot="end"
            alt="Abandonner"
            title="Abandonner"
            (click)="reinitBrand();toggleEditImage();$event.stopPropagation()"
          ></ion-icon>
          <ion-icon
            *isadmin="getRole"
            [ngClass]="isUpdated ? '' : 'cache'"
            slot="end"
            name="pencil-outline"
            alt="Enregistrer"
            title="Enregistrer"
            (click)="saveBrand()"
          ></ion-icon>
          <ion-icon
            *isadmin="getRole"
            [ngClass]="!(imageEditing === brandCard.getId) ? '' : 'cache'"
            slot="end"
            name="create-outline"
            alt="Modifier"
            title="Modifier"
            (click)="toggleEditImage();$event.stopPropagation()"
          ></ion-icon>
          <ion-icon
            *isadmin="getRole"
            slot="end"
            name="trash-outline"
            alt="Supprimer"
            title="Supprimer"
            (click)="deleteBrand()"
          ></ion-icon>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
  <app-brand
    *ngIf="getRole >= 3 && imageEditing === brandCard.getId && imageUpdating"
    [displayedImage]="imagePath"
    (selectedImage)="onSelectImage($event)"
    [urlImages]="backendImages"
    ></app-brand>
</div>
