<ion-content>
  <div class="views">
    <app-product-card 
      [productCard]="getProduct" 
      [displayIcon]="'disable'"
    ></app-product-card>
    <!-- <app-product-view-card></app-product-view-card> -->
  </div>
  
  <div class="product">
    <ion-list>
      <ion-item lines="none">
        <h3>Saisissez les données du produit</h3>
      </ion-item>
      <div class="image-setting">
        <div class="div-cropper">
          <div class="champs">
            <ion-select
            (ionChange)="onChangeBrand($event)"
              selectedText="{{ getProduct.getBrand.getBrandName }}"
              class="always-flip"
              toggleIcon="caret-down-sharp"
              interface="popover"
              label="Marque"
              labelPlacement="stacked"
              fill="solid"
              >
                <ion-select-option *ngFor="let brand of getBrands" value="{{ brand.getId }}">{{ brand.getName }}</ion-select-option>
              </ion-select>
              <ion-input
              [value]="getProduct.getProductName "
              (ionInput)="onChangeName($event)"
              label="Nom"
              labelPlacement="stacked"
              fill="solid"
              type="text"
              required
              ></ion-input>
              <ion-input
              [value]="getProduct.getLabel "
              (ionInput)="onChangeLabel($event)"
              label="Label"
              labelPlacement="stacked"
              fill="solid"
              type="text"
              required
              ></ion-input>
              <ion-textarea 
              [value]="getProduct.getDescription "
              (ionInput)="onChangeDescription($event)"
              label="Description" 
              labelPlacement="stacked" 
              fill="solid"
              type="text"
              required
              ></ion-textarea>
              <ion-input
              [value]="(getProduct.getPrice === 0 ? '' : getProduct.getPrice) "
              (ionInput)="onChangePrice($event)"
              label="Prix"
              labelPlacement="stacked"
              fill="solid"
              type="text"
              required
              ></ion-input>
              <ion-input
              [value]="(getProduct.getPreparationTime === 0 ? '' : getProduct.getPreparationTime) "
              (ionInput)="onChangePreparationTime($event)"
              label="Temps nécessaire à la préparation du colis"
              labelPlacement="stacked"
              fill="solid"
              type="text"
              required
              ></ion-input>
              <ion-input
              [value]="(getProduct.getCommandTime === 0 ? '' : getProduct.getCommandTime) "
              (ionInput)="onChangeCommandTime($event)"
              label="Temps de la commande"
              labelPlacement="stacked"
              fill="solid"
              type="text"
              required
              ></ion-input>
              <ion-input
              [value]="(getProduct.getDeliveryTime === 0 ? '' : getProduct.getDeliveryTime) "
              (ionInput)="onChangeDeliveryTime($event)"
              label="Temps d'acheminement"
              labelPlacement="stacked"
              fill="solid"
              type="text"
              required
              ></ion-input>
          </div>
        </div>
      </div>
      <ion-item lines="none">
        <div class="page-buttons">
          <app-button 
            class="add-product"
            [callback]="cancel.bind(this)"
            text="Abandonner"
          ></app-button>
          <app-button 
            class="add-product"
            [callback]="saveProduct.bind(this)"
            text="Enregistrer"
          ></app-button>
         </div>
      </ion-item>
    </ion-list>
  </div>

</ion-content>

