<ion-content>
  <div>
    <div>
      Aperçu carte liste produit
      <app-product-card [productCard]="product" [displayIcon]="'disable'"></app-product-card>
    </div>
    <div>
      Aperçu détail produit
      <app-product-view [productView]="product"></app-product-view>
    </div>
  </div>
  <div class="fields-product">
      <ion-list>
        <ion-item lines="none">
          <h3>Saisissez les données du produit</h3>
        </ion-item>
        <div class="image-setting">
          <div>
            <image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [output]="'blob'"
              [imageFile]="imageFile"
              [maintainAspectRatio]="true"
              [aspectRatio]="500 / 500"
              [resizeToWidth]="400"
              [cropperMinWidth]="128"
              [onlyScaleDown]="true"
              [transform]="transform"
              [roundCropper]="false"
              [alignImage]="'left'"
              [style.display]="showCropper ? null : 'none'"
              format="png"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()"
              (cropperReady)="cropperReady($event)"
              (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
          </div>
          <div lines="none" class="image-buttons">
              <ion-button (click)="fileInput.click()">Image
                <input type="file" #fileInput (change)="fileChangeEvent($event)" hidden/>
              </ion-button>
              <ion-button (click)="replaceImage()">Rogner</ion-button>
              <ion-button (click)="zoomIn()">Zoom +</ion-button>
              <ion-button (click)="zoomOut()">Zoom -</ion-button>
              <ion-button (click)="reinitImage()">Reset</ion-button>
          </div>
        </div>
        <ion-item lines="none">
          <ion-input
            [value]="product.getProductName"
            (ionInput)="onChangeName($event)"
            label="Nom"
            labelPlacement="stacked"
            placeholder="Nom de la produit"
            fill="solid"
            type="ttext"
            required
            clearInput
          ></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input
            [value]="product.getLabel"
            (ionInput)="onChangeLabel($event)"
            label="Libellé"
            labelPlacement="stacked"
            placeholder="libellé du produit"
            fill="solid"
            type="ttext"
            required
            clearInput
          ></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-textarea
            [value]="product.getDescription"
            (ionInput)="onChangeDescription($event)"
            label="Message"
            labelPlacement="stacked"
            fill="solid"
            placeholder="Message"
            required
            clearInput
          ></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-input
              [value]="product.getPrice === 0 ? '' : product.getPrice"
              (ionInput)="onChangePrice($event)"
              label="Prix"
              labelPlacement="stacked"
              placeholder="Prix"
              fill="solid"
              type="text"
              required
              clearInput
            ></ion-input>
        </ion-item>
        <ion-item>
          <ion-select
            label="Marque"
            placeholder="Marque"
            label-placement="floating"
            fill="solid"
            [(ngModel)]="brandSelectId"
          >
            <ion-select-option *ngFor="let brand of getBrands" value="{{brand.getId}}">
              {{brand.getBrandName}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none">
          <ion-input
            [value]="product.getPreparationTime"
            (ionInput)="onChangePreparationTime($event)"
            label="Temps nécessaire à la préparation du colis"
            labelPlacement="stacked"
            placeholder="Temps nécessaire à la préparation"
            fill="solid"
            type="text"
            required
          ></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input
            [value]="product.getCommandTime"
            (ionInput)="onChangeCommandTime($event)"
            label="Temps de la commande"
            labelPlacement="stacked"
            placeholder="Temps de la commande"
            fill="solid"
            type="text"
            required
          ></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input
            [value]="product.getDeliveryTime"
            (ionInput)="onChangeDeliveryTime($event)"
            label="Temps d'acheminement"
            labelPlacement="stacked"
            placeholder="Temps d'acheminement"
            fill="solid"
            type="text"
            required
          ></ion-input>
        </ion-item>
        <ion-item lines="none">
          <div class="page-buttons">
            <ion-button lines="none" (click)="saveProduct()">Enregistrer</ion-button>
            <ion-button lines="none" [routerLink]="['/VisiteurMenu/Produits']">Abandonner</ion-button>
          </div>
        </ion-item>
      </ion-list>
    </div>
</ion-content>

