
<ion-content>
  <ion-list>
    <ion-item
      *isadmin="getRole"
      lines="none"
    >
      <ion-button slot="end" (click)="addOnSiteService()">Ajouter</ion-button>
    </ion-item>
    <div class="onsiteservice" *ngFor="let onSiteService of getOnSiteServicesFromService | isUpdated:getRefreshUpdate">
      <app-on-site-services-card
        [onSiteServiceCard]="onSiteService"
        [imageEditing]="cardIdSelected"
        (cardIdSelected)="onSelectCard($event)"
      ></app-on-site-services-card>
    </div>
  </ion-list>
</ion-content>
